<%- include('partials/header', {}) %>

    <%= name %>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Home</h2>
        <p>Lorem ipsum.</p>
    </section>

<%- include('partials/footer', {}) %>
