<%- include('partials/header') %>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div>
            <label for='username'>Username</label>
            <input name='username' required />
        </div>
        <div>
            <label for='password'>Password</label>
            <input name='password' type='password' required />
        </div>
        <button>Login</button>
    </form>

    <h1>Sign up</h1>
    <form action="/signup" method="POST">
        <div>
            <label for='username'>Username</label>
            <input name='username' required />
        </div>
        <div>
            <label for='password'>Password</label>
            <input name='password' type='password' required />
        </div>
        <button>Sign up</button>
    </form>
<%- include('partials/footer') %>
